<div class="genetic-demo">
  <div class="genetic-demo-details">
    <p>Target: <input type="text" [(ngModel)]="target"> </p>
    <p>Population: {{curGen.length}}</p>
    <p>Average fitness: {{sumFitness/curGen.length}}</p>
    <p>Best: {{bestString}} - {{maxFitness}}</p>
    <p><a (click)="newGeneration()" class="button">New generation</a></p>
    <p><a (click)="autoGenerate()" class="button">Auto generate</a></p>
    <p><a (click)="stopAuto()" class="button">Stop</a></p>
  </div>
  <div class="genetic-demo-elements">
    <ul class="genetic-demo-elements-list">
      <li *ngFor="let e of curGen">
        <p>{{e.content}} - Fitness: {{e.getFitness()}}</p>
      </li>
    </ul>
  </div>
</div>

