/* You can add global styles to this file, and also import other style files */
.button {
  text-decoration:none;
  user-select:none;
  cursor:pointer;
  text-align: center;
  padding: 8px;
  border-radius: 4px;
  border: solid 1px #9b9b9b;
}

.button:active {
  background: #308028;
}
